@inherits LayoutComponentBase

@* MudThemeProvider/Popover/Dialog/Snackbar staan in Routes.razor - één registratie voor de
   hele app, want LoginLayout (auth-pagina's) gebruikt geen MainLayout. *@

<MudLayout>
    <MudAppBar Elevation="1">
        <MudText Typo="Typo.h6" Class="mr-6">Flexibill</MudText>
        <AuthorizeView Context="authContext">
            <Authorized>
                <MudButton Href="/" Variant="Variant.Text" Color="Color.Inherit">Dashboard</MudButton>
                <AuthorizeView Roles="Administrator" Context="adminContext">
                    <Authorized>
                        <MudButton Href="/administration/users" Variant="Variant.Text" Color="Color.Inherit">Gebruikers</MudButton>
                        <MudButton Href="/administration/branches" Variant="Variant.Text" Color="Color.Inherit">Vestigingen</MudButton>
                        <MudButton Href="/administration/approval-flow" Variant="Variant.Text" Color="Color.Inherit">Fiatering</MudButton>
                    </Authorized>
                </AuthorizeView>
                <MudSpacer />
                <MudText Typo="Typo.body2" Class="mr-4">@authContext.User.Identity?.Name</MudText>
                <MudButton Href="/logout" Variant="Variant.Text" Color="Color.Inherit" StartIcon="@Icons.Material.Filled.Logout">Uitloggen</MudButton>
            </Authorized>
        </AuthorizeView>
    </MudAppBar>
    @* Geen Class="pa-4" rechtstreeks op MudMainContent: de "pa-4"-utility zet padding met
       !important, wat de ingebouwde padding-top van MudMainContent (die ruimte vrijhoudt voor
       de fixed MudAppBar) overschrijft - de pagina-inhoud schoof dan onder de appbar. *@
    <MudMainContent>
        <div class="pa-4">
            @Body
        </div>
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
